/* 
F1 - Google fonts - import - имя шрифта, убираем лишнее, оставляем только нужные начертания
добавляем кавычки и запись :
&display=swap&subset=cyrillic-ext
*/
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-BoldItalic.woff2') format('woff2'),
		url('../fonts/Gilroy-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
/* стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

body {
	font-size: 20px;
	line-height: 1;
}

/* ********************************************************** */

.homework {
	margin: 50px 0px 60px 140px;
	font-family: Gilroy;
	background-color: rgb(245, 222, 235);
	max-width: 1600px;
}
.btn{
	margin: 0px 0px 63px 0px;
	/* background-color: rgb(250, 240, 151); */
	text-align: center;
}

.title {
	/* background-color: rgb(140, 143, 104); */
	font-size: 46px;
	line-height: 130%;
	color: #020712;
	margin: 0px 0px 75px 0px;
	text-align: center;
}

.title p:last-child {
	margin: 20px 0px 0px 0px;
}

.subtitle {
	font-size: 16px;
	line-height: 120%;
	color: #020712;
	opacity: 60%;
	text-align: right;
	/* background-color: #fff; */

}

.botton {
	background-color: rgb(63, 215, 226);
	padding: 21px 56px;
	font-size: 24px;
	line-height: 123%;
	display: inline-block;
	border-radius: 50px;
	/* margin: 0px 30px 63px 0px; */
	margin-left: 40px;
}

.botton:first-child{
	margin-left: -40px;
}
/* для того чтобы работал марджин авто нужно задать ширину блока */
.pictiure {
	/* background-color: rgb(97, 103, 122); */
	max-width: 100%;
	text-align: center;
	/* margin: 0px auto;  
	/* margin: 0px 0px 0px auto; */
	font-size: 0;
}

.pictiure img{
	width: 100px; 
	margin: 0px 0px 0px 30px;
	font-size: 16px;
}
.pictiure img:first-child {
	margin-left: -30px;
}
/* ========================================== */
.less{
	background-color: rgb(228, 243, 161);
	width: 100%;
	margin: 0px auto; 
	padding: 20px 0px 0px 0px;
}

.block {
	background-color: #da9584;
	/* width: 650px; */
	/* padding: 20px 20px; */
	/* display: inline; */
	/* margin: 20px 20px;
	/* height: 150px; */
	/* overflow: auto; */
	/* display: inline-block; */
	/* display: none; */
	max-height: 550px;
	height: 200px;
	overflow: hidden;
	margin: 0px auto 25px;
	padding: 20px;
	/* width:1200px; */
	max-width: 90%;

}
.inline{
	background-color: #a5d9ee;
	margin: 0px auto 10px;
	display: block;
	max-width: 80%;
	
}
.sva__img{
	margin: 0px auto;
	max-width: 1200px;
	text-align: center;
	background-color: rgb(163, 247, 147);
}
img {
	background-color: #000;
	margin: 0px auto;
	
	max-width: 100%;	
}
.text {}
.none{
	/* display: none; */
}