@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/* ============== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,700,italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,italic,700,700italic,900italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:regular,700&display=swap');


/* 
Жмем F1
пишем Google fonts
выбираем import
пишем имя шрифта, убираем лишнее, оставляем только нужные начертания
добавляем кавычки и запись :
&display=swap&subset=cyrillic-ext
*/
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
		url('../fonts/Gilroy-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nexa Script';
	src: url('../fonts/NexaScript-Light.woff2') format('woff2'),
		url('../fonts/NexaScript-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'S760-Script';
	src: url('../fonts/S760Script.woff2') format('woff2'),
		url('../fonts/S760Script.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'N691-Deco';
	src: url('../fonts/N691Deco.woff2') format('woff2'),
		url('../fonts/N691Deco.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sabor';
	src: url('../fonts/Sabor.woff2') format('woff2'),
		url('../fonts/Sabor.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* стили обнуления */
*, *::before, *::after{
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}
a, a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
img{
	vertical-align: top;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #6A6A6A;
	line-height: 1;
}

/* ********************************************************** */
.homework-area {
	margin: 35px auto;
	text-align: center;
	font-size: 20px;
}
.homework-area p{
	margin: 0px 0px 20px 0px;
	padding: 0px 50px;
	line-height: 120%;
	text-align: justify;
}
.homework-area p:last-child{
	margin: 0px 0px 100px 0px;
}

.font-1 {
	font-family: Monserrat;
	font-style: italic;
	font-weight: bold;
	color: red;
	text-shadow: 2px 4px 5px rgb(224, 97, 97);
}

.font-2 {
	font-family: Roboto;
	font-size: 25px;
	font-weight: 700;
	text-shadow: 4px 5px 1px rgba(233, 161, 7, 0.445);
	color: rgb(233, 90, 7);
}

.font-3 {
	font-family: McLaren;
	font-size: 30px;
	font-weight: 700;
	color: green;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.font-4 {
	font-family: Nexa Script;
	font-size: 30px;
	color:rgb(0, 132, 255);
	text-shadow: 5px -3px 5px rgba(235, 59, 147, 0.5), -5px 3px 5px rgba(235, 59, 147, 0.5);
}

.font-5 {
	font-family: Inter;
	font-size: 30px;
	text-decoration: line-through;
	/* font-style: italic; */
	color:rgb(75, 7, 163);
	text-shadow: 1px 18px 1px rgba(75, 7, 163, 0.3);
}

.font-5.line {
	line-height: 50px;
}
.font-6 {
	font-family: Comfortaa;
	font-weight: 700;
	font-size: 20px;
	color: rgb(223, 9, 194);
	text-shadow: -2px 3px 6px rgba(184, 6, 160, 0.829), 2px 0px 0px rgba(160, 17, 216, 0.829);
}

.font-7 {
	font-family: Sabor;
	color:rgb(29, 114, 96);
	font-size: 20px;
	text-shadow: 3px 3px 2px rgba(230, 194, 34, 0.945);
	text-decoration: underline;
}
.font-7.pad{
	padding: 0px 20px 30px 20px;
	text-align: center;
}

.font-8 {
	font-family: N691-Deco;
	text-indent: 80px;
	font-size: 20px;
	color:rgb(102, 26, 32);
	font-weight: 700;
	/* font-style: italic; */
	text-shadow: -6px -4px 7px rgba(231, 46, 46, 0.589);
}

.font-9 {
	font-family: S760-Script;
	font-size: 40px;
	color:#000;
	font-weight: 700;
	text-shadow: 10px 10px 10px rgba(131, 175, 240, 0.795);
}

.font-10 {}


/* ============================== */
.lesson-area {}

.lesson__title {
	font-family: Lora, serif;
	font-weight: 700;
	font-size: 52px;
	color: #10375C;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	line-height: 120%;
	text-indent: 50px;
}
.lesson__title span{
	color: rgba(219, 44, 0, 0.808);
	
}

.lesson__text {
	font-size: 20px;

}
.gilroy.text {
	font-family: Gilroy;
	color: rgba (0, 0, 255, 0);
}

.text {
	font-family: "Times New Roman",  serif;
	font-size: 20px;
	font-style: italic;
}

.text__title {
	font-size: 25px;
	font-family: Arial;
	font-weight: 700;
}

.block {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	
}

.text__ru{
	color: red;
}
.text_arab{
	text-shadow: -5px 2px 10px rgb(196, 31, 196);
	font-size: 25px;
}

